<div>	
	<a href="#" ng-click="rege()">Click</a>


	<ul>
		<li ng-repeat="ad in data.ads">
			<table class="all" width="100%">
				<tr>
					<td colspan="2">
						<a href="#/ads/{{ad.id}}"><h2>{{ad.title}}</h2></a>{{ad.date | date:'dd-MMM-yyyy'}}
					</td>
				</tr>
				<tr>
					<td>
						<img ng-src="{{ad.imageDataUrl}}">
					</td>
					<td>
						<div>{{ad.text}}</div>
						<div><strong>Name:</strong> {{ad.ownerName}}</div>
						<div><strong>Email:</strong> {{ad.ownerEmail}}</div>
						<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
					</td>
				<tr>
			</table>
		</li>	
	</ul>
</div>